@font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src:
        local("Lato Thin"),
        url("/fonts/Lato-Thin.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src:
        local("Lato Thin Italic"),
        url("/fonts/Lato-ThinItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src:
        local("Lato Light"),
        url("/fonts/Lato-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src:
        local("Lato Light Italic"),
        url("/fonts/Lato-LightItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local("Lato Regular"),
        url("/fonts/Lato-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src:
        local("Lato Italic"),
        url("/fonts/Lato-Italic.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        local("Lato Bold"),
        url("/fonts/Lato-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src:
        local("Lato Bold Italic"),
        url("/fonts/Lato-BoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src:
        local("Lato Black"),
        url("/fonts/Lato-Black.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src:
        local("Lato Black Italic"),
        url("/fonts/Lato-BlackItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto Thin"),
        url("/fonts/Roboto-Thin.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto Thin Italic"),
        url("/fonts/Roboto-ThinItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto ExtraLight"),
        url("/fonts/Roboto-ExtraLight.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto ExtraLight Italic"),
        url("/fonts/Roboto-ExtraLightItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto Light"),
        url("/fonts/Roboto-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto Light Italic"),
        url("/fonts/Roboto-LightItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto Regular"),
        url("/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto Italic"),
        url("/fonts/Roboto-Italic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto Medium"),
        url("/fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto Medium Italic"),
        url("/fonts/Roboto-MediumItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto SemiBold"),
        url("/fonts/Roboto-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto SemiBold Italic"),
        url("/fonts/Roboto-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto Bold"),
        url("/fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto Bold Italic"),
        url("/fonts/Roboto-BoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto ExtraBold"),
        url("/fonts/Roboto-ExtraBold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto ExtraBold Italic"),
        url("/fonts/Roboto-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src:
        local("Roboto Black"),
        url("/fonts/Roboto-Black.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src:
        local("Roboto Black Italic"),
        url("/fonts/Roboto-BlackItalic.woff2") format("woff2");
}

:root {
    font-size: calc(16px + var(--fontsize-modifier));
}

body,
p {
    font-family: var(--font-roboto);
    line-height: 1.2;
    letter-spacing: 0.01rem;
    font-size: 1rem;
}

p {
    line-height: 1.75;
}

h1,
.headline {
    font-family: var(--font-lato);
    line-height: 1.2;
    letter-spacing: 0.0175rem;
}

h2,
.subheadline {
    font-family: var(--font-lato);
    line-height: 1.2;
    letter-spacing: 0.015rem;
}

h3,
h4,
h5 {
    font-family: var(--font-lato);
    line-height: 1.2;
    letter-spacing: 0.015rem;
}

.extralarge {
    font-size: 3.052rem;

    @media (max-width: breakpoint(medium)) {
        font-size: 2.9rem;
    }
}

h1,
.headline.headline-1 {
    font-size: 2.441rem;
}

h2,
.headline.headline-2 {
    font-size: 1.953rem;
}

h3,
.headline.headline-3 {
    font-size: 1.563rem;
}

h4,
.headline.headline-4 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

.thin {
    font-weight: 100;
}

.extralight {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.extrabold {
    font-weight: 700;
}

.heavy {
    font-weight: 800;
}
.black {
    font-weight: 900;
}

.forceful {
    font-weight: 700;
    text-decoration: underline;
}

blockquote .margin-text {
    font-family: var(--font-lato);
}

.deckline,
.breadcrumb {
    font-family: var(--font-lato);
}
